<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="memberListPage">
<link th:href="@{/static/css/plugins/iCheck/custom.css}" rel="stylesheet">
<link th:href="@{/static/css/plugins/bootstrap-tables/bootstrap-table.min.css}" rel="stylesheet">
<link th:href="@{/static/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script th:src="@{/static/js/plugins/bootstrap-tables/bootstrap-table.min.js}"></script>
<script th:src="@{/static/js/plugins/bootstrap-tables/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/static/js/plugins/bootstrap-tables/bootstrap-table-export.min.js}"></script>
<script th:src="@{/static/js/member/memberListPage.js}"></script>
<!--<script th:src="@{/static/js/plugins/sweetalert/sweetalert.min.js}"></script>-->
<div>
    <!--  工具toolbar start  -->
    <div id="memberToolbar" class="btn-group">
        <button id="addMemberLevelButton" class="btn btn-primary btn-sm">
            新增会员等级
        </button>
        <div style="margin-left: 10px">
            <h7><small>会员名称：</small></h7>
            <input id="name"/>
            <button class="btn btn-primary btn-sm" id="search">搜索</button>
        </div>
    </div>
    <!--  工具toolbar end  -->

    <!--  会员table  -->
    <table id="memberInfoTable" class="table-hover"></table>
    <!--  会员table end  -->
    <!--  会员修改modal start  -->
    <div id="memberChangeModal" class="modal inmodal"  tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">修改会员信息</h4>
                </div>
                <div class="modal-body">会员名称</div>
                <input class="inmodel" id="memberName"/>
                <div class="modal-body">会员地址</div>
                <input class="inmodel" id="memberAddress"/>
                <div class="modal-body">会员电话</div>
                <input class="inmodel" id="memberTelephone"/>
                <div class="modal-body">会员性别</div>
                <select id="memberSex" class="inmodel">
                    <option value="1">男</option>
                    <option value="0">女</option>
                    <option value="2">未知</option>
                </select>
                <div class="modal-body">会员等级</div>
                <select class="inmodel" id="memberLevelName">

                </select>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="changeMemberButten">提交更改</button>
                </div>
            </div>
        </div>
    </div>
    <!--  会员修改modal end  -->
    <!--  会员充值modal start  -->
    <div id="memberRechargeModal" class="modal inmodal"  tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">会员充值信息</h4>
                </div>
                <div class="modal-body">会员名称</div>
                <input class="inmodel" id="recharge_memberName" disabled="disabled"/>
                <div class="modal-body">账户余额</div>
                <input class="inmodel" id="recharge_account" disabled="disabled"/>
                <div class="modal-body">充值总额</div>
                <input class="inmodel" id="recharge_totalAccount" disabled="disabled"/>
                <div class="modal-body">当前充值金额</div>
                <input class="inmodel" id="recharge_money"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="rechargeButten">提交充值</button>
                </div>
            </div>
        </div>
    </div>
    <!--  会员充值modal end  -->


</div>
</html>