<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hushuai.fast.dao.MemberMapper">
    <resultMap id="BaseResultMap" type="com.hushuai.fast.dto.Member">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="member_level_id" jdbcType="INTEGER" property="memberLevelId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="account" jdbcType="DECIMAL" property="account"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="total_account" jdbcType="DECIMAL" property="totalAccount"/>
    </resultMap>
    <resultMap id="ResultVoMap" type="com.hushuai.fast.vo.MemberVo">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="member_level_id" jdbcType="INTEGER" property="memberLevelId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="account" jdbcType="DECIMAL" property="account"/>
        <result column="level_name" jdbcType="VARCHAR" property="levelName"/>
        <result column="count" jdbcType="DOUBLE" property="count"/>
        <result column="total_account" jdbcType="DECIMAL" property="totalAccount"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `password`, member_level_id, `name`, address, telephone, sex, account, create_time,
        create_user, update_user, update_time, total_account
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from member
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from member
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hushuai.fast.dto.Member" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into member (`password`, member_level_id, `name`,
        address, telephone, sex,
        account, create_time, create_user,
        update_user, update_time, total_account
        )
        values (#{password,jdbcType=VARCHAR}, #{memberLevelId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},
        #{account,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER},
        #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{totalAccount,jdbcType=DECIMAL}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hushuai.fast.dto.Member" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="password != null and password != ''">
                `password`,
            </if>
            <if test="memberLevelId != null">
                member_level_id,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="address != null and address != ''">
                address,
            </if>
            <if test="telephone != null and telephone != ''">
                telephone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="totalAccount != null">
                total_account,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="memberLevelId != null">
                #{memberLevelId,jdbcType=INTEGER},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone != ''">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=INTEGER},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalAccount != null">
                #{totalAccount,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hushuai.fast.dto.Member">
        <!--@mbg.generated-->
        update member
        <set>
            <if test="password != null and password != ''">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="memberLevelId != null">
                member_level_id = #{memberLevelId,jdbcType=INTEGER},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null and telephone != ''">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalAccount != null">
                total_account = #{totalAccount,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hushuai.fast.dto.Member">
        <!--@mbg.generated-->
        update member
        set `password` = #{password,jdbcType=VARCHAR},
        member_level_id = #{memberLevelId,jdbcType=INTEGER},
        `name` = #{name,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        telephone = #{telephone,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=INTEGER},
        account = #{account,jdbcType=DECIMAL},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_user = #{createUser,jdbcType=INTEGER},
        update_user = #{updateUser,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        total_account = #{totalAccount,jdbcType=DECIMAL}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectMemberListByParms" parameterType="com.hushuai.fast.dto.Member" resultMap="ResultVoMap">
        select * from member
        left JOIN member_level on member.member_level_id = member_level.id
        <where>
            <if test="memberVo.name != null and memberVo.name != ''">
              AND member.`name` like concat('%',#{memberVo.name,jdbcType=VARCHAR} ,'%')
            </if>
            <if test="memberVo.memberLevelId != null">
              AND `member`.member_level_id = #{memberVo.memberLevelId,jdbcType=INTEGER}
            </if>
        </where>
        <choose>
            <when test="start != null and pageSize != null">
                limit #{start,jdbcType=INTEGER} ,#{pageSize,jdbcType=INTEGER}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="countMemberListByParms" resultType="java.lang.Integer" parameterType="com.hushuai.fast.dto.Member" >
        select count(*) from member
        left JOIN member_level on member.member_level_id = member_level.id
        <where>
            <if test="memberVo.name != null and memberVo.name != ''">
                AND member.`name` like concat('%',#{memberVo.name,jdbcType=VARCHAR} ,'%')
            </if>
            <if test="memberVo.memberLevelId != null">
                AND `member`.member_level_id = #{memberVo.memberLevelId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>