<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hushuai.fast.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.hushuai.fast.dto.SysRole">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roleName" jdbcType="VARCHAR" property="rolename" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, roleName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hushuai.fast.dto.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role (roleName)
    values (#{rolename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hushuai.fast.dto.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rolename != null and rolename != ''">
        roleName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rolename != null and rolename != ''">
        #{rolename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hushuai.fast.dto.SysRole">
    <!--@mbg.generated-->
    update sys_role
    <set>
      <if test="rolename != null and rolename != ''">
        roleName = #{rolename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hushuai.fast.dto.SysRole">
    <!--@mbg.generated-->
    update sys_role
    set roleName = #{rolename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-07-19-->
  <select id="selectByRolename" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where 1=1
        <if test="rolename != null and rolename != ''">
            and roleName=#{rolename,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>