<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hushuai.fast.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.hushuai.fast.dto.SysUser">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="passWord" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, userName, realName, `passWord`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hushuai.fast.dto.SysUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_user (userName, realName, `passWord`
      )
    values (#{username,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hushuai.fast.dto.SysUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null and username != ''">
        userName,
      </if>
      <if test="realname != null and realname != ''">
        realName,
      </if>
      <if test="password != null and password != ''">
        `passWord`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null and username != ''">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null and realname != ''">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password != ''">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hushuai.fast.dto.SysUser">
    <!--@mbg.generated-->
    update sys_user
    <set>
      <if test="username != null and username != ''">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null and realname != ''">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password != ''">
        `passWord` = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hushuai.fast.dto.SysUser">
    <!--@mbg.generated-->
    update sys_user
    set userName = #{username,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      `passWord` = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-07-18-->
  <select id="selectByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where userName=#{username,jdbcType=VARCHAR}
    </select>
</mapper>